@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 14px;
}

body {
  min-height: 100vh;
  font-family: "Red Hat Text", sans-serif;
}

.countdown {
  background: url(../../../images/pattern-hills.svg), url(../../../images/bg-stars.svg), -webkit-gradient(linear, left top, left bottom, color-stop(17%, #191a24), color-stop(51%, #1e1f29), color-stop(83%, #2b212d));
  background: url(../../../images/pattern-hills.svg), url(../../../images/bg-stars.svg), linear-gradient(180deg, #191a24 17%, #1e1f29 51%, #2b212d 83%);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 82% 100%, center center;
}
@media (min-width: 780px) {
  .countdown {
    background-position: bottom center, center center;
  }
}
.countdown__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 8.125rem 0rem 1.25rem 0rem;
}
.countdown__heading {
  color: hsl(0deg, 0%, 100%);
  font-size: 1.5rem;
  letter-spacing: 0.4375rem;
  text-transform: uppercase;
  text-align: center;
  padding-inline: 1.25rem;
}
@media (min-width: 780px) {
  .countdown__heading {
    padding: 0;
  }
}
.countdown__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  margin-top: 20vh;
}
@media (min-width: 780px) {
  .countdown__socials {
    margin-top: 32vh;
  }
}
.countdown__socials--link {
  text-decoration: none;
  display: inherit;
  font-size: 1.8125rem;
  -webkit-transition: -webkit-transform 350ms ease-in;
  transition: -webkit-transform 350ms ease-in;
  transition: transform 350ms ease-in;
  transition: transform 350ms ease-in, -webkit-transform 350ms ease-in;
  fill: #8385a9;
}
@media (min-width: 780px) {
  .countdown__socials--link:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    fill: hsl(345deg, 95%, 68%);
  }
}
.countdown__socials--link:focus {
  outline: 2px dashed hsl(345deg, 95%, 68%);
  outline-offset: 0.25rem;
}
.countdown__socials--link:focus:not(:focus-visible) {
  outline: none;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  height: 12.5rem;
  margin-top: 6.5625rem;
}
@media (min-width: 780px) {
  .timer {
    gap: 1.875rem;
  }
}
.timer__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 19vw;
  height: 9vw;
  -webkit-perspective: 6.25rem;
          perspective: 6.25rem;
  position: relative;
}
@media (min-width: 780px) {
  .timer__card {
    width: 9.375rem;
    height: 4.375rem;
  }
}
.timer__card--bg {
  position: absolute;
  height: 200%;
  top: 0.3125rem;
  left: 1.1vw;
  width: 17vw;
  background: hsl(234deg, 17%, 12%);
  border-radius: 0.625rem;
}
@media (min-width: 780px) {
  .timer__card--bg {
    top: 0.625rem;
    left: 0.0625rem;
    width: calc(100% - 2px);
  }
}
.timer__card--part {
  font-size: clamp(2rem, 7vw, 6rem);
  font-weight: 700;
  color: hsl(345deg, 95%, 68%);
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@media (min-width: 780px) {
  .timer__card--part {
    font-size: 5.5rem;
  }
}
.timer__card--part:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  background-color: #2C2C44;
  border-radius: 0.625rem;
  z-index: -1;
}
.timer__card--part:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #34364F;
  border-radius: 0.625rem;
  z-index: -1;
}
.timer__card--name {
  color: hsl(237deg, 18%, 59%);
  font-size: clamp(0.6rem, 2.3vw, 1rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  width: 100%;
  text-align: center;
  padding-top: 1.375rem;
}
@media (min-width: 780px) {
  .timer__card--name {
    font-size: 1rem;
    letter-spacing: 0.4375rem;
  }
}